<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlKzrPpjvXxiJTxNkGQ9ugm3gQRSzaQB4</string>
	<key>GCM_SENDER_ID</key>
	<string>730237085912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>school.unies.teacherapp</string>
	<key>PROJECT_ID</key>
	<string>unies-95d25</string>
	<key>STORAGE_BUCKET</key>
	<string>unies-95d25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730237085912:ios:2516b3dbe99d4b10010fad</string>
</dict>
</plist>